.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	width: 30%;
	height: 50%;
	background-color: #fff;
}

.inputs {
	display: flex;
	flex-direction: column;
}
