.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	width: 30%;
	/* min-height: 30%; */
	height: auto;
	background-color: #fff;
	padding: 2rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputs {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

select {
	padding: 0.5rem;
	width: 100%;
	margin-bottom: 2rem;
}

input {
	width: 100%;
	margin: 1rem 0;
	padding: 0.5rem;
}

.submit-btn {
	display: block;
	font-size: 1.6rem;
	padding: 0.5rem 1rem;
	background: #333;
	color: #fff;
	cursor: pointer;
}

.uploadingSpinner {
	width: 5rem;
}
