.vocab-builder {
	font-size: 3rem;
}
main {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem 5rem;
}

.card {
	width: 35rem;
	height: 25rem;
	border-radius: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.dropzone {
	background-color: var(--dropzone);
	display: flex;
	font-size: 2.5rem;
	border: 0.5rem dotted #ccc;
	/* margin: 5rem 0 0 15rem; */
}
.learning-word-option {
	background-color: var(--yellow);
}
.words-list {
	padding: 2rem;
	margin-top: 2rem;
	background-color: var(--sky-blue);
	padding: 2rem 0 0 4rem;
	border-radius: 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	height: 70vh;
	width: 95vw;
	overflow-x: hidden;
	overflow-y: scroll;
}
.word {
	background-color: var(--dark-navy-blue);
	width: 30%;
	margin: 2rem;
	padding: 1rem;
	color: var(--white);
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btns {
	display: flex;
}
.btns > * {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin: 0.5rem;
	opacity: 0.8;
	transition: all 0.2s ease-out;
}
.active > *:hover {
	cursor: pointer;

	opacity: 1;
	transform: scale(1.25);
}

.learn-btn {
	background-color: var(--light-green);
}

.learned-btn {
	background-color: var(--yellow);
}
.ignore-btn {
	background-color: var(--light-red);
}

.update-btn {
	font-size: 2rem;
	padding: 1rem 2rem;
	background-color: var(--yellow);
	border-radius: 1rem;
	width: 15rem;
	text-align: center;
	margin: auto;
	cursor: pointer;
	margin-top: 3rem;
	transition: all 0.2s ease-out;
}
.update-btn:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 10px #ccc;
}
.update-btn:active {
	transform: translateY(2px);
	box-shadow: 0px -2px 10px #ccc;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 40%;
	}
	h1 {
		text-align: center;
		margin-top: 2rem;
	}

	.words-list {
		height: 80vh;
		width: 80vw;
		margin: auto;
		margin-top: 3rem;
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.word {
		width: 80%;
		font-size: 3.5rem;
	}
	.btns > * {
		width: 3.5rem;
		height: 3.5rem;
	}
	main {
		flex-direction: column;
		align-items: center;
	}
	.card {
		margin: 3rem 0;
	}
}

a {
	color: var(--white);
	text-decoration: none;
}
