.learn_word {
	background: #ffe766;
	padding: 0 3px;
	margin: 0 5px;
	display: inline-block;
	color: #333;
}
.normal_word {
	display: inline-block;
	text-decoration: none;
	color: #333;
}
.new_line {
	width: 100vw;
}
