.learn_word {
	background: #ffe766;
	padding: 0 3px;
	margin: 0 5px;
	display: inline-block;
	color: #333;
}
.normal_word {
	display: inline-block;
	text-decoration: none;
	color: #333;
}
.line {
	width: 100%;
}

.word-counter,
.switch {
	display: inline-block;
}
.switch {
	text-decoration: none;
	margin-left: 20px;
	background-color: #333;
	color: #fff;
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
}
